.card {
  width: 300px;
  height: 367px;
  background: white;
  border-radius: 12px;
  padding: 80px 24px 30px 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__info {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #212429;
}

.card__component {
}
