.calendar {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #acb5bd;
  border-radius: 8px;
  padding: 28px 35px 40px 35px;
}

.calendar__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #334d6e;
  display: flex;
  justify-content: space-around;
}

.calendar__wrapper {
  padding-bottom: 100%;
  position: relative;
}

.calendar__inner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.calendar__item_day {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  color: #90a0b7;
  padding-bottom: 10px;
}

.calendar__item_select {
  background: #d9e0fe;
}

.calendar__item_number {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #334d6e;
}

.calendar__item_select_main {
  background: #4263eb;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
